#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXTERNALS_MQTT_PUBSUB
	bool "MQTT pub/sub test application"
	default n
